body {
    background-color: #042940;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    text-align: left;
    width: 12vw;
    height: 14vh;
    margin-left: -5vw;
    margin-right: 35vw;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style: none;
}

.nav {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.li {
    display: flex;
}

.nav:hover {
    display: flex;
    color: black;
    background-color: white;
    padding: 15px;
    text-decoration: none;
    transition: 2s;
}

.grid-container {
    display: grid;
    grid-template-columns: 31vw 31vw 31vw;
    grid-template-rows: 40vh 40vh;
    gap: 20px;
    align-self: center;
    justify-content: center;

}

.cards {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-left: 2vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    display: block;
    text-align: left;
}

.cards-cards {
    background-color: rosybrown;
    width: 8vw;
    height: 17vh;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: row;
}

.pai-cards-cards {
    display: flex;
    flex-direction: row;
}

.cards-cards h1 {
    font-size: 18px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;

}
